*{
    margin: 10 px;
    padding: 15 px;
    box-sizing: border-box;
}

body{
    background-image: url(../img/ppp.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 84px;
    margin-bottom: -20px;
    margin-right: 50px;
    margin-left: 198px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

main{
    background-color: #ffffff9c;
    width: 1500px;
    border: 5px dashed rgba(78, 77, 83, 0.505);
    margin: 5px;
    padding: 20px;
    
}

header{
    margin: 20px 0;
    text-align: center;
    padding: 10px 0;

}

header img{
    float: left;
    margin-left: 30px;
    width: 400px;
    height: 400px;

}

a{
    color: #22331ddf;
    text-align:center;
    display: inline;
    margin-right: 445px;
    margin-top: -71px;
    margin-left: 421px;
    size: 100px;
 
}


li{
    color: #3d4f46df;
    list-style: none;
    display: inline;
    size: 100px;

}


p {
    color: #211f1f;
    text-align:center; 
    size: 20px;
    font-weight: 200;
    margin-right: 26px;
    margin-left: 84px;
    margin-top: -22px;
    border-top: 209px;
    border: 1px solid #394444;
    width: 60%;
    display: inline-block;
    
  }

h1{
    color: #2b4d3c;
    float: center;
    margin-right: -24px;
    margin-top: 72px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.399);
    letter-spacing: 3px;
    border-bottom: 2px;
    border-color: #2e25257c;
    size: 500 px;
      
}

h2{
    color: #2b4d3c;
    float: center;
    margin-right: -8px;
    margin-top: 73px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.399);
    letter-spacing: 9px;
    border-bottom: 2px;
    border-color: #2e25257c;
    size: 500 px;
}

iframe{
    width: 560px; 
    height: 315px;
    border-style: solid;
    border-color: #404040;
    box-shadow: 10px 10px 50px 10px #586774;
}



img{
    box-shadow: 10px 10px 50px 10px #586774;
}

img.izquierda{
    float: left;
}




.clear {
    clear: both;
}